<app-loader *ngIf="loader.show" [position]="loader.position" [align]="loader.align" [mode]="loader.mode"></app-loader>

<form *ngIf="showForm">

    <div class="row section-header valign-wrapper">
        <div class="col s12 m6 l6">
            <p class="title">
                {{sectionTitle}}
            </p>
        </div>
        <div class="col s12 m6 l6 actions">
            
        </div>
    </div>

    <mat-tab-group class="single-book-tabs single-book-page" (selectedTabChange)="changeSectionBook($event)">
        <!--Description tab-->
        <mat-tab label="Ajustes básicos">
            <basic-settings-book [book]="book" [showEditor]="showEditor"></basic-settings-book>
        </mat-tab>
        <!--Index tab-->
        <mat-tab label="Atributos">
            <attributes-settings-book [book]="book"></attributes-settings-book>
        </mat-tab>
        <mat-tab label="Precios">
            <prices-settings-book [book]="book"></prices-settings-book>
        </mat-tab>
        <!--<mat-tab label="Transporte">
            Tab para transporte
        </mat-tab>
        <mat-tab label="SEO">
            Tab para SEO
        </mat-tab>-->
    </mat-tab-group>

    <actions-bar-book (saved)="saveBook($event)" [textBtn]="'Actualizar libro'"></actions-bar-book>

</form>