<app-loader *ngIf="loader.show" [position]="loader.position" [align]="loader.align" [mode]="loader.mode"></app-loader>

<div *ngIf="showInfo" class="content-section">
        <div class="row section-header valign-wrapper">
            <div class="col s12 m6 l6">
                <p class="title">
                    Usuarios
                </p>
            </div>
            <div class="col s12 m6 l6 actions">
            </div>
        </div>
        
        <mat-form-field class="filter-form-field">
            <input matInput (keyup)="authorsFilter($event.target.value)" placeholder="Escribe una palabra clave para encontrar un usuario" class="filter-input">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    
        <mat-table #table [dataSource]="dataSource" class="data-table specialties">
    
            <ng-container matColumnDef="image">
                <mat-header-cell class="image" *matHeaderCellDef>Img.</mat-header-cell>
                <mat-cell class="image" *matCellDef="let user">
                    <img *ngIf="user.image && user.image !== ''" src="{{ user.image }}" alt="">
                    <img *ngIf="!user.image || user.image == ''" src="https://amolca.webussines.com/uploads/images/no-image.jpg" alt="">
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="name">
                <mat-header-cell class="name title" *matHeaderCellDef> Nombre: </mat-header-cell>
                <mat-cell class="name title" *matCellDef="let user"> {{user.name}} {{user.lastname}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="email">
                <mat-header-cell class="email" *matHeaderCellDef> Correo electrónico: </mat-header-cell>
                <mat-cell class="email" *matCellDef="let user">{{ user.email }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="country">
                <mat-header-cell *matHeaderCellDef> País: </mat-header-cell>
                <mat-cell class="country" *matCellDef="let user"> {{user.country | titlecase}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef> Rol de usuario: </mat-header-cell>
                <mat-cell class="role" *matCellDef="let user"> {{user.role[0] | titlecase}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Acciones: </mat-header-cell>
                <mat-cell class="actions" *matCellDef="let user">
                    <a class="edit"><mat-icon>edit</mat-icon></a>
                    <a class="edit"><mat-icon>delete_forever</mat-icon></a>
                </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
</div>