@import 'vars.scss';
@import 'mixins.scss';

form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
}

input {
    border: 1px solid #cccccc;
    text-align: center;
    width: 100%;
}

.link {
    margin-top: 10px;

    a {
        color: $gray-dark;
        font-size: $sm-font;

        &:hover {
            text-decoration: underline;
        }
    }
}