@import 'vars.scss';
@import 'mixins.scss';

.nav-menu {
    background-color: $gray-sup-light;
    bottom: 0px;
    color: $gray-dark;
    left: 0px;
    @include calc(height, '100% - 50px');
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: auto;
    @include transition('all 0.4s ease');
    width: 20%;

    &.menu-hidden {
        //@include calc(left, '-20% + 50px');
        //@include calc(right, '100% - 50px');
        width: 50px;

        & > ul > li > a {
            padding-right: 0px !important;

            span.text {
                display: none;
            }
        }

        & .submenu {
            display: none;
        }
    }

    &::-webkit-scrollbar-track {
		background-color: $gray-sup-light;
	}
	&::-webkit-scrollbar {
		background-color: rgba(0,0,0,0.2);
		width: 7px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: rgba(0,0,0,0.2);
	}

    ul.vmenu {
        display: flex;
        flex-flow: column wrap;
        list-style: none;

        & > li {
            border-bottom: 1px solid $gray-min-dark;
            position: relative;

            &:last-child {
                border-bottom-color: transparent;
            }

            & > a {
                align-items: center;
                background-color: transparent;
                color: $gray-dark;
                cursor: pointer;
                display: flex;
                font-family: $primary-font;
                font-size: $sm-font;
                font-weight: 400;
                flex-flow: row nowrap;
                justify-content: flex-start;
                letter-spacing: 1px;
                height: 45px;
                outline: 0;
                padding-right: 15px;
                @include transition('all 0.4s ease');
                width: 100%;

                &:hover, &:active, &.active {
                    background-color: $primary-color;
                    color: $white-color;
                }

                span {
                    line-height: 45px;

                    &.icon {
                        font-size: 18px;
                        text-align: center;
                        width: 50px;
                    }

                    &.text {
                        @include calc(width, '100% - 50px');
                    }
                }
            }

            & .submenu {
                border-top: 1px solid $gray-min-dark;
                display: none;
                padding: 0px;
                position: relative;

                &:before {
                    content: '';
                    background-color: $gray-dark;
                    bottom: 20px;
                    left: 24px;
                    position: absolute;
                    top: 0px;
                    width: 2px;
                    z-index: 1;
                }

                li {
                    position: relative;

                    &:after {
                        content: '';
                        background-color: $gray-medium;
                        border: 2px solid $gray-dark;
                        border-radius: 50%;
                        left: 20px;
                        height: 10px;
                        position: absolute;
                        @include calc(top, '50% - 5px');
                        @include transition('all 0.4s ease');
                        width: 10px;
                        z-index: 1;
                    }

                    &:hover:after {
                        background-color: $gray-dark;
                    }
                    
                    a {
                        background-color: $gray-medium;
                        color: $gray-light;
                        display: block;
                        font-size: $sm-font;
                        line-height: 40px;
                        padding-left: 50px;
                    }
                }
            }
        }
    }
}