@import 'vars.scss';
@import 'mixins.scss';

.main {
    height: 100%;
    @include calc(max-height, '100% - 50px');
    left: 20%;
    overflow-x: auto;
    padding: 20px;
    position: fixed;
    top: 50px;
    @include transition('all 0.4s ease');
    width: 80%;

    &.menu-hidden {
        left: 50px;
        @include calc(width, '100% - 50px');
    }
}

input[type="reset"] {
    margin-left: 10px;
    margin-right: 10px;
}

.section-header {
    border-bottom: 1px solid $gray-min-dark;
    margin-bottom: 20px;
    padding-bottom: 20px;

    .title {
        font-size: $lg-font;
        font-weight: bold;
    }

    .actions {
        text-align: right;
    }
}

.actions-bar {
    background-color: $gray-sup-light;
    border-left: 1px solid $gray-min-dark;
    bottom: 0px;
    left: 20%;
    padding: 15px 2.5%;
    position: fixed;
    text-align: right;
    width: 80%;
    z-index: 1000;

    .button {
        margin: 0px 5px;

        &:last-child {
            margin-right: auto;
        }
    }
}

/*Books tables*/
.filter-form-field {
    width: 100%;

    .filter-input {
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 0px;
        border-radius: 0px;
        height: 40px;
        margin: 0px;
        width: 100%;
    }
}

.table-books {
    font-size: 14px;

    mat-cell,
    mat-header-cell {
        font-family: $primary-font;
        font-size: 13px;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .title {
        font-size: 15px;
        font-weight: bold;
        justify-content: left;
        max-width: 35%;
        min-width: 35%;
        padding-right: 10px;
    }

    .image {
        padding-left: 0px;
        max-width: 90px;
        min-width: 90px;

        img {
            display: block;
            margin: auto;
            width: 90%;
        }
    }

    .actions {
        .edit, .actions {
            color: $primary-gray;
            cursor: pointer;
            margin: 0px 5px;
            text-align: center;
            width: 30px;

            &:hover, &:active, &[aria-expanded="true"] {
                color: $primary-color;
            }
        }
    }
}