@import 'vars.scss';
@import 'mixins.scss';

.main {
    height: 100%;
    @include calc(max-height, '100% - 50px');
    left: 20%;
    overflow-x: auto;
    padding: 20px;
    position: fixed;
    top: 50px;
    @include transition('all 0.4s ease');
    width: 80%;

    &.menu-hidden {
        left: 50px;
        @include calc(width, '100% - 50px');
    }
}

input[type="reset"] {
    margin-left: 10px;
    margin-right: 10px;
}

.section-header {
    border-bottom: 1px solid $gray-min-dark;
    margin-bottom: 20px;
    padding-bottom: 20px;

    .title {
        font-size: $lg-font;
        font-weight: bold;
    }

    .actions {
        text-align: right;
    }
}

.actions-bar {
    background-color: $gray-sup-light;
    border-left: 1px solid $gray-min-dark;
    bottom: 0px;
    left: 20%;
    padding: 15px 2.5%;
    position: fixed;
    text-align: right;
    width: 80%;
    z-index: 1000;

    .button {
        margin: 0px 5px;

        &:last-child {
            margin-right: auto;
        }
    }
}

/*Books tables*/
.table-books {
    font-size: 14px;

    td.title {
        width: 40%;
    }

    td.image {
        width: 100px;

        img {
            max-width: 90%;
        }
    }

    td.actions {
        .button {
            font-size: 14px;
        }
    }
}