@import 'vars.scss';
@import 'mixins.scss';

.main {
    height: 100%;
    @include calc(max-height, '100% - 50px');
    left: 20%;
    position: fixed;
    top: 50px;
    @include transition('all 0.4s ease');
    width: 80%;

    &.menu-hidden {
        left: 50px;
        @include calc(width, '100% - 50px');
    }
}