<app-loader *ngIf="loader.show" [position]="loader.position" [align]="loader.align" [mode]="loader.mode"></app-loader>

<div *ngIf="showInfo">

    <div class="row section-header valign-wrapper">
        <div class="col s12 m6 l6">
            <p class="title">
                Libros
            </p>
        </div>
        <div class="col s12 m6 l6 actions">
            
        </div>
    </div>

    <mat-form-field class="filter-form-field">
        <input matInput (keyup)="booksFilter($event.target.value)" placeholder="Escribe una palabra clave para encontrar un libro" class="filter-input">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-table #table [dataSource]="dataSource" class="data-table books">

        <ng-container matColumnDef="image">
            <mat-header-cell class="image" *matHeaderCellDef>Img.</mat-header-cell>
            <mat-cell class="image" *matCellDef="let book"> <img src="{{ book.image }}" alt=""> </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="title">
            <mat-header-cell class="title" *matHeaderCellDef> Título: </mat-header-cell>
            <mat-cell class="title" *matCellDef="let book"> {{book.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="specialty[0].title">
            <mat-header-cell *matHeaderCellDef> Especialidad: </mat-header-cell>
            <mat-cell class="specialty" *matCellDef="let book">
                <span *ngIf="book.specialty.length > 1">{{ book.specialty[1].title }}</span>
                <span *ngIf="book.specialty.length < 2">{{ book.specialty[0].title }}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isbn">
            <mat-header-cell *matHeaderCellDef> ISBN: </mat-header-cell>
            <mat-cell class="isbn" *matCellDef="let book"> {{book.isbn}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef> Estado: </mat-header-cell>
            <mat-cell class="state" *matCellDef="let book">
                <span *ngIf="book.state == 'PUBLISHED'">Publicado</span>
                <span *ngIf="book.state == 'DRAFT'">Borrador</span>
                <span *ngIf="book.state == 'TRASH'">En papelera</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Acciones: </mat-header-cell>
            <mat-cell class="actions" *matCellDef="let book">
                <a class="edit" routerLink="/account/books/edit/{{book._id}}">
                    <mat-icon>edit</mat-icon>
                </a>

                <a class="actions" [matMenuTriggerFor]="actionsMenu">
                    <mat-icon>more_vert</mat-icon>
                </a>

                <mat-menu #actionsMenu="matMenu" class="actions-menu">
                    <li><a>Ver</a></li>
                    <li><a>Eliminar</a></li>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <div class="loader-more-books" *ngIf="loader.moreBooks">
        <app-loader [position]="loader.position" [align]="loader.align" [mode]="loader.mode"></app-loader>
        Cargando más libros...
    </div>
    
</div>