<app-loader *ngIf="loader.show" [position]="loader.position" [align]="loader.align" [mode]="loader.mode"></app-loader>

<form (ngSubmit)="login(loginForm)" [formGroup]="loginform" #loginForm="ngForm">
  <div class="form-group">
    <label for="user">Usuario / Correo electrónico</label>
    <input type="text" name="user" formControlName="user" id="user" autocomplete="off" placeholder="Escribe tu correo electrónico..." (keyup)="error.show = false">
  </div>

  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="password" name="password" formControlName="password" id="password" placeholder="Escribe tu contraseña..." (keyup)="error.show = false">
  </div>

  <div *ngIf="error.show" class="form-group">
    <p class="error">{{error.msg}}</p>
  </div>

  <div class="form-group">
    <input [disabled]="!loginForm.valid" type="submit" class="button primary" value="Iniciar sesión">
  </div>
  
  <div class="form-group link">
    <p><a routerLink="/recover-password">¿Olvidaste tu contraseña?</a></p>
  </div>
</form>