@import 'vars.scss';
@import 'mixins.scss';

.header {
    background-color: $gray-sup-light;
    left: 20%;
    height: 50px;
    padding-left: 0;
    padding-right: 20px;
    position: fixed;
    top: 0px;
    @include transition('all 0.4s ease');
    width: 80%;

    &.menu-hidden {
        left: 50px;
        @include calc(width, '100% - 50px');
    }
}

%header-btns {
    color: $gray-dark;
    cursor: pointer;
    display: block;
    height: 50px;
    outline: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.user-btn {
    @extend %header-btns;
    float: right;
    line-height: 47px;
    @include transition('all 0.4s ease');

    span {
        color: $primary-color;
        @include transition('all 0.4s ease');
    }

    &:hover {
        background-color: $primary-color;
        color: $white-color;

        span {
            color: $white-color;
        }
    }
}

.hide-menu-btn {
    @extend %header-btns;
    float: left;
    font-size: $md-font;
    line-height: 50px;
    text-align: center;
    @include transition('all 0.4s ease');
    width: 50px;

    .icon-th-menu {
        display: none;
    }

    &.menu-hidden {
        .icon-th-small {
            display: none;
        }
        .icon-th-menu {
            display: inline-block;
        }
    }

    &:hover {
        background-color: $primary-color;
        color: $white-color;
    }
}