//Blue colors
$primary-color: #00396F;
$blue-dark: #001f3c;
$blue-light: #55B9D4;
$blue-opacity: #A1B3C7;

//Red colors
$red-color: #E2231A;
$red-dark: #b4170f;

//Gray colors
$primary-gray: #878786;
$gray-dark: #666666;
$gray-min-dark: #cccccc;
$gray-light: #A5A5A5;
$gray-sup-light: #F5F5F5;
$gray-medium: #ededed;

//White colors
$white-color: #ffffff;
$white-light: #f7f7f7;
$white-dark: #eaeaea;
$white-transparence: rgba(255,255,255,0.5);

//Fonts
$primary-font: 'Montserrat';

$sm-font: 13px;
$md-font: 16px;
$lg-font: 25px;
$xlg-font: 40px;