<div class="row">

    <div class="col s12 m5 l5 book-image">
        <img *ngIf="book.image && book.image !== ''" src="{{book.image}}" alt="">
        <img *ngIf="!book.image || book.image == ''" src="https://amolca.webussines.com/uploads/images/no-image.jpg" alt="">
    </div>

    <div class="col s12 m7 l7">
        <!--"Nombre" field-->
        <div class="form-group col s12 m12 l12">
            <label for="title">Nombre del libro:</label>
            <input type="text" id="title" name="title" [(ngModel)]="book.title" placeholder="Escribe el nombre del libro">
        </div>

        <!--"ISBN" field-->
        <div class="form-group col s12 m6 l6">
            <label for="isbn">ISBN del libro:</label>
            <input type="text" id="isbn" name="isbn" [(ngModel)]="book.isbn" placeholder="ISBN del libro">
        </div>

        <!--"Estado del producto" field-->
        <div class="form-group col s12 m6 l6">
            <label for="type">Estado:</label>
            <select type="text" name="type" id="type" [(ngModel)]="book.state" class="normal-select">
                <option *ngFor="let option of selectOptions" [ngValue]="option.value">{{option.name}}</option>
            </select>
        </div>

        <!--"Small description" field-->
        <div class="form-group col s12 m12 l12">
            <label for="description">Descripción corta:</label>
            <editor [(ngModel)]="book.description" apiKey="1icfygu7db6ym5ibmufjkk2myppelx6v827sc9rq8xt1eo2n" [init]="editorInit"></editor>
        </div>
    </div>
    
    <div class="col s12 m12 l12">
        <mat-tab-group class="basic-settings-book-tabs" (selectedTabChange)="loadEditor($event)">
            <!--Index tab-->
            <mat-tab label="Índice">
                <editor *ngIf="showEditor.index" apiKey="1icfygu7db6ym5ibmufjkk2myppelx6v827sc9rq8xt1eo2n" [init]="editorInit" [(ngModel)]="book.index"></editor>
            </mat-tab>
            <!--Key points tab-->
            <mat-tab label="Puntos clave">
                <editor *ngIf="showEditor.keyPoints" apiKey="1icfygu7db6ym5ibmufjkk2myppelx6v827sc9rq8xt1eo2n" [init]="editorInit"  [(ngModel)]="book.keyPoints"></editor>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>