@import 'vars.scss';
@import 'mixins.scss';

/*Import Angular Material Theme*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

.main.auth {
    background-color: $white-light;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/*Global text*/
.error {
    color: $red-color;
    margin-bottom: 10px;
}

/*TinyMCE editor*/
.mce-panel.mce-container {
    @include boxSizing('border-box');
}

/*Buttons*/
.button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: $primary-font;
    font-size: $md-font;
    font-weight: 500;
    outline: 0;
    padding: 11px 15px;
    text-decoration: none;
    @include transition('all 0.4s ease');

    &[disabled] {
        cursor: initial;
        opacity: 0.6;
    }

    &.primary {
        background-color: $primary-color;
        color: $white-color;
    }

    &.danger {
        background-color: $red-color;
        color: $white-color;
    }
}

/*Form's*/
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea, textarea  {
    border-radius: 5px;
    border: 1px solid $gray-light;
    @include boxSizing('border-box');
    color: $gray-dark;
    font-family: $primary-font;
    font-weight: 300;
    outline: 0;
    padding: 10px 15px;

    &:focus {
        border-bottom: 1px solid $primary-color !important;
        border: 1px solid $primary-color;
        box-shadow: none !important;
    }
}

textarea.materialize-textarea, textarea {
    font-size: 16px;
    height: 75px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.required {
    color: $red-color;
}

/*Material progress bar*/
//Material loader
app-loader .mat-progress-bar {
    left: 0px;
    position: absolute;
    top: 0px;
}
.mat-progress-bar-buffer {
    background-color: $white-dark;
}
    .mat-progress-bar-fill::after {
        background-color: $primary-color;
    }

/*Material tabs*/
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $primary-color;
}

.single-book-tabs .mat-tab-body-content {
    padding: 20px 0px;
}

.basic-settings-book-tabs .mat-tab-body-content {
    background: $gray-sup-light;
    overflow: hidden;
    padding: 20px;
}

/*Nav menu*/
nav-menu {
    bottom: 0px;
    left: 0px;
    @include calc(height, '100% - 50px');
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: auto;
    width: 20%;
}

/*Header User menu*/
.user-menu {
    margin-top: 50px;

    li {
        list-style: none;

        a {
            color: $gray-dark;
            cursor: pointer;
            display: inline-block;
            font-size: $md-font;
            padding: 10px 15px;
            @include transition('all 0.4s ease');
            width: 100%;

            &:hover, &:active {
                background-color: $gray-sup-light;
            }
        }
    }
}